boby {
    font-family: Roboto,sans-serif;
}
.navbar {
    background-color:#D9323E;
}
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color:#D9323E;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover  {
color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}
.section-title {
    font-family: Grey Qo, cursive;
}
#sobre-restaurante, #cardapio, #fale-conosco {
    background-color:#DBC8BD;
}
.text-colored {
    color:#D9323E;
}
.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color:#D9323E;
    color: #fff;
}
.nav-cardapio .nav-link:hover {
    color:  #D9323E;
}
.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}



@media (max-width: 767px){
    .ccarousel-item img{
        height: 200px;
    }

 /*-------------
   border-radius: 50%;
        width: 200px;
        height: 200px;
        box-shadow: 3px 3px 10px rgba(17, 13, 13, 0.512);
 
 */

